<span>Здравствуйте, <%= current_user.email %></span>
<p/>
<%= link_to 'На главную', main_page_index_path %>
<p/>
<%= link_to 'Профиль', :user_root %>
<p/>
<%= link_to 'Выйти', destroy_user_session_path, method: :delete %>